.root * {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#tab {
    -fx-background-color: #e3dbdb;
}

#tab:hover {
    -fx-background-color: #c1c1c1;
}

#tab:selected {
    -fx-background-color: white;
}

