.root * {
    -fx-font-family: "Segoe UI Semibold";
}

.metaDataLabel {
    -fx-text-fill: #192ac1;
    -fx-font-size: 18;
}

#tool-button1, #tool-button2, #tool-button3, #tool-button4 {
    -fx-background-color: transparent;
    -fx-font-size: 13;
}

#tool-button1:hover {
    -fx-background-color: #bababa;
    -fx-border-color: #c11919;
    -fx-border-width: 0 0 2 0;
}

#tool-button2:hover {
    -fx-font-weight: bold;
    -fx-background-color: #bababa;
    -fx-border-color: #19c13d;
    -fx-border-width: 0 0 2 0;
}

#tool-button3:hover {
    -fx-font-weight: bold;
    -fx-background-color: #bababa;
    -fx-border-color: #192ac1;
    -fx-border-width: 0 0 2 0;
}

#tool-button4:hover {
    -fx-font-weight: bold;
    -fx-background-color: #bababa;
    -fx-border-color: #9419c1;
    -fx-border-width: 0 0 2 0;
}


.tool-bar {
    -fx-background-color: lightgrey;
}
